.key-conteiner{
    display: flex;
    justify-content: center;
    width: 2000px;
    height: 400px ;
    position: absolute;
    top: 20%;
    left: 50%; 
}

#piano{
    display: flex;
    justify-content: center;
}
body {
    text-align: center;
    background-color: aquamarine;
}

.key {
    position: relative;
    background-color: white;
    width: 50px;
    height: 400px;
    margin-left: 0;
}

.key[data-note^="#c"]{
    position: absolute;
    z-index : 1;
    background-color: black;
    width: 40px;
    height: 150px;
    left: 37%;
}

.form-select{
    background-color: white;
    position: absolute;
    top: 15%;
    right: 79%;
    width: 100px;
    height: 8%;
}
.play{
    background-color: white;
    position: absolute;
    top: 15% ;
    right: 73%;
    width: 50px;
    height: 8%;
}
.key[data-note^="#b"]{
    position: absolute;
    z-index : 1;
    background-color: black;
    width: 40px;
    height: 150px;
    left: 468%;
}

.key[data-note^="#f"]{
    position: absolute;
    z-index : 1;
    background-color: black;
    width: 40px;
    height: 150px;
    left: 49%;
}
.key[data-note^="#g"]{
    position: absolute;
    z-index : 1;
    background-color: black;
    width: 40px;
    height: 150px;
    left: 53%;
}
.key[data-note^="#a"]{
    position: absolute;
    z-index : 1;
    background-color: black;
    width: 40px;
    height: 150px;
    left: 57%;
}
.key[data-note^="#d"] {
    position: absolute;
    z-index : 1;
    background-color: black;
    width: 40px;
    height: 150px;
    left: 41%;
}
.key[data-note^="#c1"] {
    position: absolute;
    z-index : 1;
    background-color: black;
    width: 40px;
    height: 150px;
    left: 64%;
}
body {
    text-align: center;
    background-color: aquamarine;
}

.key {
    position: relative;
    background-color: white;
    width: 50px;
    height: 400px;
    margin-left: 0;
}



